[Unit]
Description=Live777 Cluster Manager service
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
DynamicUser=yes
ExecStart=/usr/bin/liveman --config /etc/live777/liveman.toml
WorkingDirectory=/var/lib/live777
StateDirectory=live777
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
